<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/dashboard/images/logo-dark-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/dashboard/images/logo-dark.png" alt="" height="18">
            </span>
        </a>

        <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="/dashboard/images/logo-light-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/dashboard/images/logo-light.png" alt="" height="18">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="icon nav-icon" data-feather="home"></i>
                        <span class="badge badge-pill badge-primary float-right">2</span>
                        <span class="menu-item" key="t-dashboards">Dashboards</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="index.html" key="t-ecommerce">Ecommerce</a></li>
                        <li><a href="dashboard-saas.html" key="t-saas">Saas</a></li>
                    </ul>
                </li>

                

                <li class="menu-title" key="t-apps">Apps</li>

                

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon nav-icon" data-feather="shopping-bag"></i>
                        <span class="menu-item" key="t-ecommerce">Ecommerce</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/car/add-car" key="t-products">Thêm sản phẩm</a></li>
                        <li><a href="/car/list-car" key="t-product-detail">Danh sách sản phẩm</a></li>
                        <li><a href="/category/add-category" key="t-customers">Quản lý danh mục</a></li>
                       
                    </ul>
                </li>

               

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon nav-icon" data-feather="book"></i>
                        <span class="menu-item" key="t-contacts">Quản lý K/H</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/list-staff" key="t-user-grid">Danh sách N/V</a></li>
                        <li><a href="/list-user" key="t-user-list">Danh sách K/H</a></li>
                        <li><a href="contacts-profile.html" key="t-profile">Profile</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->